{% extends 'masjed_base.html' %}
{% load static %}
{% block title %}
    پخش زنده_مسجد جامع امام جامع امام سجاد(ع)
{% endblock %}
{% block body-class %}
    report-body-page
{% endblock %}
{% block content %}
    <!-- اعلامیه -->
    <main class="flex-grow-1 py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="announcement-box">
                        <h3 class="mb-4 text-primary fw-bold">📢 اعلامیه جدید</h3>
                        <img src="{% static 'assets/img/محرم.jpg' %}" alt="اعلامیه محرم">
                        <!-- می‌تونی این بخش توضیحی هم اضافه کنی اگر لازم شد -->
                        <!-- <p class="mt-3 text-muted">مراسم عزاداری دهه اول محرم، هر شب ساعت ۲۰</p> -->
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}






