{% extends 'base_kodom_masjed.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    کدوم مسجد،سامانه رزرو مساجد و سالن اجتماعات مساجد برای ختم
{% endblock %}

{% block discription %}
    کدوم مسجد سامانه ی آنلاین رزرو مسجد و سالن اجتماعات مساجد به صورت قطعی ،ارزان و با تخفیف برای مراسم ختم و کنفرانس
    ،آموزش ،همایش در تهران امکان مقایسه امکانات مساجد در سراسر تهران
{% endblock %}

{% block costum_head %}
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo.webp' %}">
    <!-- All Plugins -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/animation.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/dropzone.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/flickity.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/magnifypopup.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/rangeSlider.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/prism.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .carousel-item {
            height: 500px;
            background-size: cover;
            background-position: center;
        }

        .navbar {
            background: rgba(0, 0, 0, 0.4); /* پس‌زمینه شفاف */
            backdrop-filter: blur(9px); /* افکت بلور */
            padding: 10px 20px;
        }

        /*  استایل‌های سفارشی برای مودال ورود */
        .modal-content {
            border-radius: 15px !important;
        }

        .nav-pills .nav-link {
            color: #495057;
            border-radius: 8px;
            transition: all 0.3s;
        }

        .nav-pills .nav-link.active {
            background-color: #0d6efd;
            color: white;
        }

        .form-control {
            border-radius: 8px;
            padding: 16px;
        }

        .social-btn {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .divider {
            position: relative;
            border-top: 1px solid #eee;
        }

        .divider-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

        /*  پایان استایل سفارشی برای مودال ورود و لاگین */

        /*  استایل سفارشی برای دکمه و دراپ دان لاگین شده */
        .custom-menu-button {
            display: flex;
            align-items: center;
            background: rgba(255, 255, 255, 0.2); /* پس‌زمینه سفید با شفافیت */
            padding: 5px 10px; /* پدینگ برای شکل کپسولی */
            border-radius: 50px; /* ایجاد حالت کپسولی (pill) */
            border: none;
        }

        .custom-menu-dots {
            font-size: 1.5rem;
            color: white;
            margin-left: 10px;
        }

        .custom-profile-icon {
            font-size: 2rem;
            color: white;
        }

        .custom-dropdown-menu {
            text-align: right; /* متن راست‌چین */
            border-radius: 10px; /* گوشه‌های گرد */
            padding: 10px 0; /* فاصله داخلی */
            margin-top: 280px; /* فاصله از دکمه */
            left: 0 !important; /* تنظیم موقعیت دراپ‌داون */
            right: auto !important; /* جلوگیری از باز شدن به سمت راست */
        }

        .custom-dropdown-item {
            display: flex;
            align-items: center;
            font-size: 1rem;
            padding: 8px 20px; /* فاصله داخلی گزینه‌ها */
            color: #000; /* رنگ متن مشکی */
        }

        .custom-dropdown-item i {
            margin-left: 10px; /* فاصله آیکون از متن */
            font-size: 1.2rem;
        }

        .custom-dropdown-item.logout {
            color: #ff0000; /* رنگ قرمز برای خروج */
        }

        .custom-dropdown-item:hover {
            background-color: #f8f9fa; /* رنگ پس‌زمینه هنگام هاور */
        }

        /* بازگرداندن فلش دراپ‌داون */
        .custom-dropdown-menu::before {
            content: '';
            position: absolute;
            top: -10px;
            left: 20px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
        }


    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Fontawesome & Bootstrap Icons CSS -->
    <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/fontawesome.css' %}" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock %}
<div id="main-wrapper">
    {% block content %}
        <!-- navbar -->
        <nav class="navbar navbar-expand fixed-top navbar-dark bg-transparent p-1 ">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center ps-3" href="#">
                    <div style="background: white; border-radius: 50%; padding: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                        <img src="{% static 'assets/logo.webp' %}" alt="لوگو" width="65" height="65"
                             class="rounded-circle">
                    </div>
                </a>
                {% if user.is_authenticated %}
                    <!-- دکمه مشترک برای نقاط و آیکون -->
                    <button class="custom-menu-button" type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v custom-menu-dots"></i>
                        <i class="fas fa-user-circle custom-profile-icon"></i>
                    </button>
                    <!-- منوی کشویی -->
                    <ul class="dropdown-menu custom-dropdown-menu">
                        <li><a class="dropdown-item custom-dropdown-item" href="#"><i
                                class="fas fa-user"></i>اطلاعات حساب کاربری </a>
                        </li>
                        <li><a class="dropdown-item custom-dropdown-item" href="#"><i class="fas fa-info-circle"></i>رزرو
                            های من
                            حساب کاربری</a></li>
                        <li><a class="dropdown-item custom-dropdown-item" href="#"><i class="fas fa-plus-circle"></i>مدیریت
                            حساب‌ها</a></li>
                        <li><a class="dropdown-item custom-dropdown-item" href="#"><i class="fas fa-phone"></i>ارتباط با
                            تنظیمات</a></li>
                        <li><a class="dropdown-item custom-dropdown-item logout" href="#"><i
                                class="fas fa-sign-out-alt"></i>خروج از حساب کاربری</a></li>
                    </ul>
                {% else %}
                    <a href="slider-home.html#" class="btn rounded-pill  py-2 shadow-sm"
                       style="background-color: #1B3A57"
                       data-bs-toggle="modal"
                       data-bs-target="#login"><span class="text-light">ورود | ثبت نام</span></a>
                {% endif %}
            </div>
        </nav>


        <!-- ============================ Hero Banner  Start================================== -->
        <div id="myCarousel" class="carousel slide carousel-fade mb-6" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active bg-cover"
                     style="background-image: url({% static 'assets/img/banner-1.webp' %});"
                     data-overlay="6">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="h2"> مساجد را مقایسه کن، بهترین را انتخاب کن و سریع رزرو کن!</h1>

                            <a class="btn btn-info rounded-pill px-5 mt-4" href="#">مشاهده مساجد و رزرو سریع</a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- دکمه‌های کنترلی -->
            <!--<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">قبلی</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">بعدی</span>
            </button>-->

            <!-- دکمه‌های نشانگر (اختیاری) -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
            </div>
        </div>
        <!-- ============================ Hero Banner End ================================== -->

        <!-- ============================ Hero Search Start ================================== -->
        <div class="search-explore-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">

                        <div class="search-wrap with-label overio">
                            <div class="row">

                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="fliore">
                                        <div class="rounded-3 me-4 d-inline-flex overflow-hidden">
                                            <ul class="nav nav-tabs simple-tabs medium border-0 justify-content-center"
                                                id="tour-pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active " data-bs-toggle="tab"
                                                       href="slider-home.html#hotels"><i
                                                            class="fa fa-hotel ms-2 "></i><span
                                                            style="color: #1B3A57">مسجد</span></a>
                                                </li>
                                                <!--<li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="tab" href="slider-home.html#flights"><i class="fa-solid fa-jet-fighter ms-2"></i>پرواز</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="tab" href="slider-home.html#tours"><i class="fa-solid fa-globe ms-2"></i>تور</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="tab" href="slider-home.html#cabs"><i class="fa-solid fa-car ms-2"></i>خودرو</a>
                                                </li>-->
                                            </ul>
                                        </div>

                                        <div class="tab-content bg-white rounded-pill shadow-wrap p-3">
                                            <div class="tab-pane show active" id="hotels">
                                                <div class="row align-items-center gx-2">
                                                    <div class="col-md-8 col-8">
                                                        <div class="form-group mb-0">
                                                            <input type="text"
                                                                   class="form-control choosedate rounded-pill"
                                                                   placeholder="جستجوی مساجد خالی بر اساس تاریخ"
                                                                   readonly="readonly">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-4 d-flex justify-content-end">
                                                        <button type="button"
                                                                class="btn w-100 fw-medium text-white rounded-pill"
                                                                style="background-color: #1B3A57;">
                                                            <i class="fa-solid fa-magnifying-glass ms-2 text-white"></i>
                                                            جستجو
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ Hero Search End ================================== -->

        <!-- ============================ Popular modque Start ================================== -->
        <section>
            <div class="container">

                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-11 col-sm-12">
                        <div class="secHeading-wrap text-center mb-5">
                            <h3>محبوب ترین مساجد</h3>
                            <p>مقایسه کن و آنلاین رزرو کن!</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center g-xl-4 g-lg-4 g-md-3 g-4">
                    {% for mosque in mosques %}
                        <!-- Single -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="card w-100 rounded-5 border shadow-sm">
                                <div class="flight-thumb-wrapper">
                                    <div class="popFlights-item-overHidden">
                                        <img src="{% static 'assets/2 (1).jpg' %}" class="img-fluid rounded-top" alt="">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ mosque.name }}</h5>
                                    <p class="detail text-muted small">
                                        <i class="fa-solid fa-map-marker-alt text-info ms-2"></i>
                                        {{ mosque.address }}
                                    </p>

                                    <div class="touritem-middle position-relative p-3">
                                        <div class="tourist-wooks position-relative mb-3">
                                            <ul class="activities-flex d-flex flex-wrap gap-2">
                                                <li>
                                                    <div class="actv-wrap text-center">
                                                        <div class="actv-wrap-ico text-info fs-5"><i
                                                                class="fa-solid fa-person-chalkboard"></i></div>
                                                        <div class="actv-wrap-caps">سخنران</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="actv-wrap text-center">
                                                        <div class="actv-wrap-ico text-info fs-5"><i
                                                                class="fa-solid fa-microphone-lines"></i></div>
                                                        <div class="actv-wrap-caps">مداح</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="actv-wrap text-center">
                                                        <div class="actv-wrap-ico text-info fs-5"><i
                                                                class="fa-solid fa-book-quran"></i></div>
                                                        <div class="actv-wrap-caps">قاری</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="actv-wrap text-center">
                                                        <div class="actv-wrap-ico text-info fs-5"><i
                                                                class="fas fa-parking"></i></div>
                                                        <div class="actv-wrap-caps">پارکینگ</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="trsms-foots d-flex justify-content-between align-items-center">
                                        <div class="text-dark fw-bold fs-5">
                                            {% for hall in mosque.halls.all %}
                                                {% if hall.type_hall == "salonejtemaat" %}
                                                    <span class="text-muted small">قیمت سالن اجتماعات: </span>
                                                {% else %}
                                                    <span class="text-muted small">قیمت صحن اصلی: </span>
                                                {% endif %}
                                                {{ hall.price|intcomma }} <span class="text-success small">تومان</span>
                                                <br>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="text-center mt-3">
                                        <a href="{% url 'website:detail' %}"
                                           class="btn btn-primary w-100 fw-bold py-2 rounded-pill shadow-sm"
                                           style="background-color: #007bff; border-color: #007bff;"
                                           onmouseover="this.style.backgroundColor='#0056b3'"
                                           onmouseout="this.style.backgroundColor='#007bff'">
                                            مشاهده جزئیات | رزرو فوری
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- ============================ Popular Hotels Start ================================== -->

        <!-- ============================  features End ================================== -->
        <section>
            <div class="container">
                <div class="row align-items-center justify-content-between">

                    <div class="col-xl-5 col-lg-5 col-md-12 position-relative ps-xl-5 ps-lg-4 ps-md-4 pb-xl-5 pb-lg-4 pb-md-4">
                        <div class="position-relative mb-lg-0 mb-4">
                            <img src="{% static 'assets/img/img-3.webp' %}"
                                 class="img-fluid rounded-3 position-relative z-1"
                                 alt="">
                            <div class="position-absolute bottom-0 end-0 z-index-1 mb-4 me-5">
                            </div>
                        </div>
                        <figure class="position-absolute bottom-0 start-0 d-none d-md-block mb-n5 ms-n4">
                            <svg height="400" class="fill-primary opacity-25" viewBox="0 0 340 340">
                                <circle cx="194.2" cy="2.2" r="2.2"></circle>
                                <circle cx="2.2" cy="2.2" r="2.2"></circle>
                                <circle cx="218.2" cy="2.2" r="2.2"></circle>
                                <circle cx="26.2" cy="2.2" r="2.2"></circle>
                                <circle cx="242.2" cy="2.2" r="2.2"></circle>
                                <circle cx="50.2" cy="2.2" r="2.2"></circle>
                                <circle cx="266.2" cy="2.2" r="2.2"></circle>
                                <circle cx="74.2" cy="2.2" r="2.2"></circle>
                                <circle cx="290.2" cy="2.2" r="2.2"></circle>
                                <circle cx="98.2" cy="2.2" r="2.2"></circle>
                                <circle cx="314.2" cy="2.2" r="2.2"></circle>
                                <circle cx="122.2" cy="2.2" r="2.2"></circle>
                                <circle cx="338.2" cy="2.2" r="2.2"></circle>
                                <circle cx="146.2" cy="2.2" r="2.2"></circle>
                                <circle cx="170.2" cy="2.2" r="2.2"></circle>
                                <circle cx="194.2" cy="26.2" r="2.2"></circle>
                                <circle cx="2.2" cy="26.2" r="2.2"></circle>
                                <circle cx="218.2" cy="26.2" r="2.2"></circle>
                                <circle cx="26.2" cy="26.2" r="2.2"></circle>
                                <circle cx="242.2" cy="26.2" r="2.2"></circle>
                                <circle cx="50.2" cy="26.2" r="2.2"></circle>
                                <circle cx="266.2" cy="26.2" r="2.2"></circle>
                                <circle cx="74.2" cy="26.2" r="2.2"></circle>
                                <circle cx="290.2" cy="26.2" r="2.2"></circle>
                                <circle cx="98.2" cy="26.2" r="2.2"></circle>
                                <circle cx="314.2" cy="26.2" r="2.2"></circle>
                                <circle cx="122.2" cy="26.2" r="2.2"></circle>
                                <circle cx="338.2" cy="26.2" r="2.2"></circle>
                                <circle cx="146.2" cy="26.2" r="2.2"></circle>
                                <circle cx="170.2" cy="26.2" r="2.2"></circle>
                                <circle cx="194.2" cy="50.2" r="2.2"></circle>
                                <circle cx="2.2" cy="50.2" r="2.2"></circle>
                                <circle cx="218.2" cy="50.2" r="2.2"></circle>
                                <circle cx="26.2" cy="50.2" r="2.2"></circle>
                                <circle cx="242.2" cy="50.2" r="2.2"></circle>
                                <circle cx="50.2" cy="50.2" r="2.2"></circle>
                                <circle cx="266.2" cy="50.2" r="2.2"></circle>
                                <circle cx="74.2" cy="50.2" r="2.2"></circle>
                                <circle cx="290.2" cy="50.2" r="2.2"></circle>
                                <circle cx="98.2" cy="50.2" r="2.2"></circle>
                                <circle cx="314.2" cy="50.2" r="2.2"></circle>
                                <circle cx="122.2" cy="50.2" r="2.2"></circle>
                                <circle cx="338.2" cy="50.2" r="2.2"></circle>
                                <circle cx="146.2" cy="50.2" r="2.2"></circle>
                                <circle cx="170.2" cy="50.2" r="2.2"></circle>
                                <circle cx="194.2" cy="74.2" r="2.2"></circle>
                                <circle cx="2.2" cy="74.2" r="2.2"></circle>
                                <circle cx="218.2" cy="74.2" r="2.2"></circle>
                                <circle cx="26.2" cy="74.2" r="2.2"></circle>
                                <circle cx="242.2" cy="74.2" r="2.2"></circle>
                                <circle cx="50.2" cy="74.2" r="2.2"></circle>
                                <circle cx="266.2" cy="74.2" r="2.2"></circle>
                                <circle cx="74.2" cy="74.2" r="2.2"></circle>
                                <circle cx="290.2" cy="74.2" r="2.2"></circle>
                                <circle cx="98.2" cy="74.2" r="2.2"></circle>
                                <circle cx="314.2" cy="74.2" r="2.2"></circle>
                                <circle cx="122.2" cy="74.2" r="2.2"></circle>
                                <circle cx="338.2" cy="74.2" r="2.2"></circle>
                                <circle cx="146.2" cy="74.2" r="2.2"></circle>
                                <circle cx="170.2" cy="74.2" r="2.2"></circle>
                                <circle cx="194.2" cy="98.2" r="2.2"></circle>
                                <circle cx="2.2" cy="98.2" r="2.2"></circle>
                                <circle cx="218.2" cy="98.2" r="2.2"></circle>
                                <circle cx="26.2" cy="98.2" r="2.2"></circle>
                                <circle cx="242.2" cy="98.2" r="2.2"></circle>
                                <circle cx="50.2" cy="98.2" r="2.2"></circle>
                                <circle cx="266.2" cy="98.2" r="2.2"></circle>
                                <circle cx="74.2" cy="98.2" r="2.2"></circle>
                                <circle cx="290.2" cy="98.2" r="2.2"></circle>
                                <circle cx="98.2" cy="98.2" r="2.2"></circle>
                                <circle cx="314.2" cy="98.2" r="2.2"></circle>
                                <circle cx="122.2" cy="98.2" r="2.2"></circle>
                                <circle cx="338.2" cy="98.2" r="2.2"></circle>
                                <circle cx="146.2" cy="98.2" r="2.2"></circle>
                                <circle cx="170.2" cy="98.2" r="2.2"></circle>
                                <circle cx="194.2" cy="122.2" r="2.2"></circle>
                                <circle cx="2.2" cy="122.2" r="2.2"></circle>
                                <circle cx="218.2" cy="122.2" r="2.2"></circle>
                                <circle cx="26.2" cy="122.2" r="2.2"></circle>
                                <circle cx="242.2" cy="122.2" r="2.2"></circle>
                                <circle cx="50.2" cy="122.2" r="2.2"></circle>
                                <circle cx="266.2" cy="122.2" r="2.2"></circle>
                                <circle cx="74.2" cy="122.2" r="2.2"></circle>
                                <circle cx="290.2" cy="122.2" r="2.2"></circle>
                                <circle cx="98.2" cy="122.2" r="2.2"></circle>
                                <circle cx="314.2" cy="122.2" r="2.2"></circle>
                                <circle cx="122.2" cy="122.2" r="2.2"></circle>
                                <circle cx="338.2" cy="122.2" r="2.2"></circle>
                                <circle cx="146.2" cy="122.2" r="2.2"></circle>
                                <circle cx="170.2" cy="122.2" r="2.2"></circle>
                                <circle cx="194.2" cy="146.2" r="2.2"></circle>
                                <circle cx="2.2" cy="146.2" r="2.2"></circle>
                                <circle cx="218.2" cy="146.2" r="2.2"></circle>
                                <circle cx="26.2" cy="146.2" r="2.2"></circle>
                                <circle cx="242.2" cy="146.2" r="2.2"></circle>
                                <circle cx="50.2" cy="146.2" r="2.2"></circle>
                                <circle cx="266.2" cy="146.2" r="2.2"></circle>
                                <circle cx="74.2" cy="146.2" r="2.2"></circle>
                                <circle cx="290.2" cy="146.2" r="2.2"></circle>
                                <circle cx="98.2" cy="146.2" r="2.2"></circle>
                                <circle cx="314.2" cy="146.2" r="2.2"></circle>
                                <circle cx="122.2" cy="146.2" r="2.2"></circle>
                                <circle cx="338.2" cy="146.2" r="2.2"></circle>
                                <circle cx="146.2" cy="146.2" r="2.2"></circle>
                                <circle cx="170.2" cy="146.2" r="2.2"></circle>
                                <circle cx="194.2" cy="170.2" r="2.2"></circle>
                                <circle cx="2.2" cy="170.2" r="2.2"></circle>
                                <circle cx="218.2" cy="170.2" r="2.2"></circle>
                                <circle cx="26.2" cy="170.2" r="2.2"></circle>
                                <circle cx="242.2" cy="170.2" r="2.2"></circle>
                                <circle cx="50.2" cy="170.2" r="2.2"></circle>
                                <circle cx="266.2" cy="170.2" r="2.2"></circle>
                                <circle cx="74.2" cy="170.2" r="2.2"></circle>
                                <circle cx="290.2" cy="170.2" r="2.2"></circle>
                                <circle cx="98.2" cy="170.2" r="2.2"></circle>
                                <circle cx="314.2" cy="170.2" r="2.2"></circle>
                                <circle cx="122.2" cy="170.2" r="2.2"></circle>
                                <circle cx="338.2" cy="170.2" r="2.2"></circle>
                                <circle cx="146.2" cy="170.2" r="2.2"></circle>
                                <circle cx="170.2" cy="170.2" r="2.2"></circle>
                                <circle cx="194.2" cy="194.2" r="2.2"></circle>
                                <circle cx="2.2" cy="194.2" r="2.2"></circle>
                                <circle cx="218.2" cy="194.2" r="2.2"></circle>
                                <circle cx="26.2" cy="194.2" r="2.2"></circle>
                                <circle cx="242.2" cy="194.2" r="2.2"></circle>
                                <circle cx="50.2" cy="194.2" r="2.2"></circle>
                                <circle cx="266.2" cy="194.2" r="2.2"></circle>
                                <circle cx="74.2" cy="194.2" r="2.2"></circle>
                                <circle cx="290.2" cy="194.2" r="2.2"></circle>
                                <circle cx="98.2" cy="194.2" r="2.2"></circle>
                                <circle cx="314.2" cy="194.2" r="2.2"></circle>
                                <circle cx="122.2" cy="194.2" r="2.2"></circle>
                                <circle cx="338.2" cy="194.2" r="2.2"></circle>
                                <circle cx="146.2" cy="194.2" r="2.2"></circle>
                                <circle cx="170.2" cy="194.2" r="2.2"></circle>
                                <circle cx="194.2" cy="218.2" r="2.2"></circle>
                                <circle cx="2.2" cy="218.2" r="2.2"></circle>
                                <circle cx="218.2" cy="218.2" r="2.2"></circle>
                                <circle cx="26.2" cy="218.2" r="2.2"></circle>
                                <circle cx="242.2" cy="218.2" r="2.2"></circle>
                                <circle cx="50.2" cy="218.2" r="2.2"></circle>
                                <circle cx="266.2" cy="218.2" r="2.2"></circle>
                                <circle cx="74.2" cy="218.2" r="2.2"></circle>
                                <circle cx="290.2" cy="218.2" r="2.2"></circle>
                                <circle cx="98.2" cy="218.2" r="2.2"></circle>
                                <circle cx="314.2" cy="218.2" r="2.2"></circle>
                                <circle cx="122.2" cy="218.2" r="2.2"></circle>
                                <circle cx="338.2" cy="218.2" r="2.2"></circle>
                                <circle cx="146.2" cy="218.2" r="2.2"></circle>
                                <circle cx="170.2" cy="218.2" r="2.2"></circle>
                                <circle cx="194.2" cy="242.2" r="2.2"></circle>
                                <circle cx="2.2" cy="242.2" r="2.2"></circle>
                                <circle cx="218.2" cy="242.2" r="2.2"></circle>
                                <circle cx="26.2" cy="242.2" r="2.2"></circle>
                                <circle cx="242.2" cy="242.2" r="2.2"></circle>
                                <circle cx="50.2" cy="242.2" r="2.2"></circle>
                                <circle cx="266.2" cy="242.2" r="2.2"></circle>
                                <circle cx="74.2" cy="242.2" r="2.2"></circle>
                                <circle cx="290.2" cy="242.2" r="2.2"></circle>
                                <circle cx="98.2" cy="242.2" r="2.2"></circle>
                                <circle cx="314.2" cy="242.2" r="2.2"></circle>
                                <circle cx="122.2" cy="242.2" r="2.2"></circle>
                                <circle cx="338.2" cy="242.2" r="2.2"></circle>
                                <circle cx="146.2" cy="242.2" r="2.2"></circle>
                                <circle cx="170.2" cy="242.2" r="2.2"></circle>
                                <circle cx="194.2" cy="266.2" r="2.2"></circle>
                                <circle cx="2.2" cy="266.2" r="2.2"></circle>
                                <circle cx="218.2" cy="266.2" r="2.2"></circle>
                                <circle cx="26.2" cy="266.2" r="2.2"></circle>
                                <circle cx="242.2" cy="266.2" r="2.2"></circle>
                                <circle cx="50.2" cy="266.2" r="2.2"></circle>
                                <circle cx="266.2" cy="266.2" r="2.2"></circle>
                                <circle cx="74.2" cy="266.2" r="2.2"></circle>
                                <circle cx="290.2" cy="266.2" r="2.2"></circle>
                                <circle cx="98.2" cy="266.2" r="2.2"></circle>
                                <circle cx="314.2" cy="266.2" r="2.2"></circle>
                                <circle cx="122.2" cy="266.2" r="2.2"></circle>
                                <circle cx="338.2" cy="266.2" r="2.2"></circle>
                                <circle cx="146.2" cy="266.2" r="2.2"></circle>
                                <circle cx="170.2" cy="266.2" r="2.2"></circle>
                                <circle cx="194.2" cy="290.2" r="2.2"></circle>
                                <circle cx="2.2" cy="290.2" r="2.2"></circle>
                                <circle cx="218.2" cy="290.2" r="2.2"></circle>
                                <circle cx="26.2" cy="290.2" r="2.2"></circle>
                                <circle cx="242.2" cy="290.2" r="2.2"></circle>
                                <circle cx="50.2" cy="290.2" r="2.2"></circle>
                                <circle cx="266.2" cy="290.2" r="2.2"></circle>
                                <circle cx="74.2" cy="290.2" r="2.2"></circle>
                                <circle cx="290.2" cy="290.2" r="2.2"></circle>
                                <circle cx="98.2" cy="290.2" r="2.2"></circle>
                                <circle cx="314.2" cy="290.2" r="2.2"></circle>
                                <circle cx="122.2" cy="290.2" r="2.2"></circle>
                                <circle cx="338.2" cy="290.2" r="2.2"></circle>
                                <circle cx="146.2" cy="290.2" r="2.2"></circle>
                                <circle cx="170.2" cy="290.2" r="2.2"></circle>
                                <circle cx="194.2" cy="314.2" r="2.2"></circle>
                                <circle cx="2.2" cy="314.2" r="2.2"></circle>
                                <circle cx="218.2" cy="314.2" r="2.2"></circle>
                                <circle cx="26.2" cy="314.2" r="2.2"></circle>
                                <circle cx="242.2" cy="314.2" r="2.2"></circle>
                                <circle cx="50.2" cy="314.2" r="2.2"></circle>
                                <circle cx="266.2" cy="314.2" r="2.2"></circle>
                                <circle cx="74.2" cy="314.2" r="2.2"></circle>
                                <circle cx="290.2" cy="314.2" r="2.2"></circle>
                                <circle cx="98.2" cy="314.2" r="2.2"></circle>
                                <circle cx="314.2" cy="314.2" r="2.2"></circle>
                                <circle cx="122.2" cy="314.2" r="2.2"></circle>
                                <circle cx="338.2" cy="314.2" r="2.2"></circle>
                                <circle cx="146.2" cy="314.2" r="2.2"></circle>
                                <circle cx="170.2" cy="314.2" r="2.2"></circle>
                                <circle cx="194.2" cy="338.2" r="2.2"></circle>
                                <circle cx="2.2" cy="338.2" r="2.2"></circle>
                                <circle cx="218.2" cy="338.2" r="2.2"></circle>
                                <circle cx="26.2" cy="338.2" r="2.2"></circle>
                                <circle cx="242.2" cy="338.2" r="2.2"></circle>
                                <circle cx="50.2" cy="338.2" r="2.2"></circle>
                                <circle cx="266.2" cy="338.2" r="2.2"></circle>
                                <circle cx="74.2" cy="338.2" r="2.2"></circle>
                                <circle cx="290.2" cy="338.2" r="2.2"></circle>
                                <circle cx="98.2" cy="338.2" r="2.2"></circle>
                                <circle cx="314.2" cy="338.2" r="2.2"></circle>
                                <circle cx="122.2" cy="338.2" r="2.2"></circle>
                                <circle cx="338.2" cy="338.2" r="2.2"></circle>
                                <circle cx="146.2" cy="338.2" r="2.2"></circle>
                                <circle cx="170.2" cy="338.2" r="2.2"></circle>
                            </svg>
                        </figure>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="row gy-xl-5 g-4">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="fbxer-wraps">
                                    <div class="fbxerWraps-icons mb-3">
                                        <div class="square--70 circle bg-light-primary"><i
                                                class="fa-solid fa-sliders fa-2x"></i>
                                        </div>
                                    </div>
                                    <div class="fbxerWraps-caps">
                                        <h5 class="fw-bold fs-6">مقایسه سریع و انتخاب هوشمند</h5>
                                        <p class="fw-light fs-6 m-0">با مشاهده جزئیات مساجد، امکانات و هزینه‌ها، بهترین
                                            گزینه را برای مراسم خود انتخاب کنید.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="fbxer-wraps">
                                    <div class="fbxerWraps-icons mb-3">
                                        <div class="square--70 circle bg-light-info"><i
                                                class="fa-solid fa-check fa-2x"></i>
                                            <!-- آیکون سپر با علامت تیک -->
                                        </div>
                                    </div>
                                    <div class="fbxerWraps-caps">
                                        <h5 class="fw-bold fs-6">رزرو مطمئن و شفاف</h5>
                                        <p class="fw-light fs-6 m-0">تمامی قیمت‌ها و شرایط به‌صورت شفاف نمایش داده
                                            می‌شوند،
                                            بدون هزینه‌های پنهان!</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="fbxer-wraps">
                                    <div class="fbxerWraps-icons mb-3">
                                        <div class="square--70 circle bg-light-success"><i
                                                class="fa-solid fa-headset fa-2x"></i>
                                        </div>
                                    </div>
                                    <div class="fbxerWraps-caps">
                                        <h5 class="fw-bold fs-6"> پشتیبانی ۲۴/۷</h5>
                                        <p class="fw-light fs-6 m-0">هر زمان که نیاز به راهنمایی داشتید، تیم پشتیبانی ما
                                            آماده کمک به شماست.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ============================  features End ================================== -->

        <!-- ============================ پرسش های متداول ================================== -->
        <section class="bg-cover position-relative" style="background:#dce0e8">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col-xl-12 col-lg-12 col-md-12 mt-4">

                        <div class="row mb-4">
                            <div class="col-12 text-center">
                                <h3>پرسش‌های متداول</h3>
                            </div>
                        </div>

                        <div class="accordion accordion-flush" id="accordionFlushExample">

                            <div class="accordion-item border rounded-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                            aria-controls="flush-collapseTwo">
                                        چگونه می‌توانم مسجدی را برای مراسم ختم یا همایش خود رزرو کنم؟
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        برای رزرو مسجد به صورت آنلاین، کافی است وارد سامانه شوید،
                                        مسجد مورد نظر را جست‌وجو کرده، مسجد و سالن یا صحن دلخواه را انتخاب و پس از تعیین
                                        تاریخ و ساعت، به صورت قطعی و سریع رزرو کنید.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border rounded-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFive2" aria-expanded="false"
                                            aria-controls="flush-collapseFive2">
                                        آیا می‌توانم قبل از رزرو، از خالی بودن سالن مسجد در تاریخ مورد نظر مطمئن شوم؟
                                    </button>
                                </h2>
                                <div id="flush-collapseFive2" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        بله، در سامانه امکان بررسی وضعیت در دسترس بودن سالن‌ها فراهم شده است. شما
                                        می‌توانید
                                        تاریخ
                                        مراسم خود را وارد کنید و ببینید که در آن تاریخ، سالن مورد نظر آزاد است یا قبلاً
                                        رزرو
                                        شده.
                                        این ویژگی به شما کمک می‌کند بهترین زمان ممکن را برای رزرو انتخاب کنید.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border rounded-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFive3" aria-expanded="false"
                                            aria-controls="flush-collapseFive3">
                                        آیا سامانه از هم‌پوشانی زمان‌های رزرو جلوگیری می‌کند؟
                                    </button>
                                </h2>
                                <div id="flush-collapseFive3" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        بله، سامانه رزرو مسجد به صورت هوشمند از ثبت رزرو در زمان‌هایی که قبلاً توسط
                                        دیگران
                                        رزرو شده
                                        جلوگیری می‌کند تا با خیال راحت بتوانید رزرو خود را انجام دهید.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border rounded-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                                            aria-controls="flush-collapseThree">
                                        قیمت مسجد یا سالن اجتماعات برای مراسم ختم یا همایش به چه صورت محاسبه می‌شود؟
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        هزینه رزرو بر اساس مدت زمان استفاده، نوع سالن و امکانات انتخابی محاسبه می‌شود.
                                        قیمت‌ها در
                                        صفحه هر مسجد مشخص شده‌اند.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border rounded-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                                            aria-controls="flush-collapseFour">
                                        آیا سامانه شامل مساجد سراسر کشور می‌شود؟
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        در حال حاضر، سامانه شامل مساجد منتخب در شهر تهران از قبیل:
                                        مسجد جامع امیرالمؤمنین (ع) واقع در مرزداران، مسجد جامع امام سجاد (ع) واقع در
                                        اشرفی
                                        اصفهانی و
                                        مسجد جامع نظام مافی است و به‌تدریج به تعداد مساجد افزوده می‌شود.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item border rounded-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                                            aria-controls="flush-collapseFive">
                                        آیا برای استفاده از سامانه نیاز به ثبت‌نام دارم؟
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        برای مشاهده اطلاعات عمومی نیازی به ثبت‌نام نیست، اما برای رزرو سالن‌ها و مدیریت
                                        رزروهای
                                        خود، باید در سامانه ثبت‌نام کنید.
                                    </div>
                                </div>
                            </div>

                        </div> <!-- پایان آکاردئون -->

                    </div> <!-- col -->
                </div> <!-- row -->
            </div> <!-- container -->
        </section>

        <!-- ============================ پرسش های متداول ================================== -->
        </div>
        <!-- ============================ Footer Start ================================== -->
        <footer class="footer skin-dark-footer">
    <div>
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h4 class="widget-title">فلکه دوم صادقیه خ حاجی زاده کوچه گلستان 12 پلاک 52</h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h4 class="widget-title">تماس : 90-43-4409-021</h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h4 class="widget-title">با خیال راحت به ما اعتماد کنید</h4>
                        <div class="pmt-wrap">
                            <a referrerpolicy='origin' target='_blank'
                               href='https://trustseal.enamad.ir/?id=662157&Code=cBEfcGMwLrylJXFCmZEIvZwMgqE7kGPU'>
                                <img referrerpolicy='origin'
                                     src='https://trustseal.enamad.ir/logo.aspx?id=662157&Code=cBEfcGMwLrylJXFCmZEIvZwMgqE7kGPU'
                                     style='cursor:pointer'>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom border-top">
        <div class="container">
            <p class="mb-0 text-center">
                کلیه حقوق این سایت محفوظ و متعلق به کدوم مسجد است.
            </p>
        </div>
    </div>
</footer>

        <!-- ============================ Footer End ================================== -->
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
                crossorigin="anonymous"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/dropzone.min.js' %}"></script>
        <script src="{% static 'assets/js/flatpickr.js' %}"></script>
        <script src="{% static 'assets/js/flickity.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/js/lightbox.min.js' %}"></script>
        <script src="{% static 'assets/js/rangeslider.js' %}"></script>
        <script src="{% static 'assets/js/select2.min.js' %}"></script>
        <script src="{% static 'assets/js/counterup.min.js' %}"></script>
        <script src="{% static 'assets/js/prism.js' %}"></script>

        <script src="{% static 'assets/js/addadult.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>
        <!-- Date Booking Script -->
        <script src="{% static 'assets/js/jdate.min.js' %}"></script>
        <script src="{% static 'assets/js/fa.js' %}"></script>
        </body>
    {% endblock %}

