<!doctype html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GeoTrip - قالب HTML رزرو تور و آژانس مسافرتی ژِئوتریپ</title>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

  <!-- All Plugins -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/animation.css" rel="stylesheet">
  <link href="assets/css/dropzone.min.css" rel="stylesheet">
  <link href="assets/css/flatpickr.min.css" rel="stylesheet">
  <link href="assets/css/flickity.min.css" rel="stylesheet">
  <link href="assets/css/lightbox.min.css" rel="stylesheet">
  <link href="assets/css/magnifypopup.css" rel="stylesheet">
  <link href="assets/css/select2.min.css" rel="stylesheet">
  <link href="assets/css/rangeSlider.min.css" rel="stylesheet">
  <link href="assets/css/prism.css" rel="stylesheet">

  <!-- Fontawesome & Bootstrap Icons CSS -->
  <link href="assets/css/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/css/fontawesome.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div id="preloader">
		<div class="preloader"><span></span><span></span></div>
	</div>

	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper">

		<!-- ============================================================== -->
		<!-- Top header  -->
		<!-- ============================================================== -->
		<!-- Start Navigation -->
		<div class="header header-light">
			<div class="container">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" href="blog.html#"><img src="assets/img/logo.png" class="logo" alt=""></a>
						<div class="nav-toggle"></div>
						<div class="mobile_nav">
							<ul>
								<li class="currencyDropdown ms-2">
                  <a href="blog.html#" class="nav-link" data-bs-toggle="modal" data-bs-target="#currencyModal"><span
                      class="fw-medium">INR</span></a>
                </li>
                <li class="languageDropdown ms-2">
                  <a href="blog.html#" class="nav-link" data-bs-toggle="modal" data-bs-target="#countryModal"><img
                      src="assets/img/flag/flag.png" class="img-fluid" width="17" alt="Country"></a>
                </li>
                <li>
                  <a href="blog.html#" class="bg-light-primary text-primary rounded" data-bs-toggle="modal"
                    data-bs-target="#login"><i class="fa-regular fa-circle-user fs-6"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="nav-menus-wrapper" style="transition-property: none;">
            <ul class="nav-menu">

              <li><a href="JavaScript:Void(0);">صفحه اصلی<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li>
                    <a href="index.html">نسخه 1</a>
                  </li>
                  <li>
                    <a href="home-2.html">نسخه 2</a>
                  </li>
                  <li>
                    <a href="home-3.html">نسخه 3</a>
                  </li>
                  <li>
                    <a href="home-4.html">نسخه 4</a>
                  </li>
                  <li>
                    <a href="home-5.html">نسخه 5</a>
                  </li>
                  <li>
                    <a href="slider-home.html">نسخه 6</a>
                  </li>
                </ul>
              </li>

              <li><a href="JavaScript:Void(0);">اقامتگاه<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="JavaScript:Void(0);">هتل<span class="submenu-indicator"></span></a>
                    <ul class="nav-dropdown nav-submenu">
                      <li><a href="hotel-list-01.html">لیست نسخه 1</a></li>
                      <li><a href="hotel-list-02.html">لیست نسخه 2</a></li>
                      <li><a href="hotel-list-03.html">لیست نسخه 3</a></li>
                      <li><a href="hotel-detail.html">جزئیات نسخه 1</a></li>
                      <li><a href="hotel-detail-2.html">جزئیات نسخه 2</a></li>
                    </ul>
                  </li>
                  <li><a href="JavaScript:Void(0);">پرواز<span class="submenu-indicator"></span></a>
                    <ul class="nav-dropdown nav-submenu">
                      <li><a href="flight-list-01.html">لیست نسخه 1</a></li>
                      <li><a href="flight-list-02.html">لیست نسخه 2</a></li>
                      <li><a href="Flight-detail.html">جزئیات</a></li>
                    </ul>
                  </li>
                  <li><a href="JavaScript:Void(0);">اقامتگاه<span class="submenu-indicator"></span></a>
                    <ul class="nav-dropdown nav-submenu">
                      <li><a href="property-list-01.html">لیست نسخه 1</a></li>
                      <li><a href="property-list-02.html">لیست نسخه 2</a></li>
                      <li><a href="property-list-03.html">لیست نسخه 3</a></li>
                      <li><a href="rental-detail.html">جزئیات</a></li>
                    </ul>
                  </li>
                  <li><a href="JavaScript:Void(0);">ماشین<span class="submenu-indicator"></span></a>
                    <ul class="nav-dropdown nav-submenu">
                      <li><a href="car-list-01.html">لیست نسخه 1</a></li>
                      <li><a href="car-list-02.html">لیست نسخه 2</a></li>
                      <li><a href="car-list-03.html">لیست نسخه 3</a></li>
                      <li><a href="car-detail.html">جزئیات</a></li>
                    </ul>
                  </li>
                  <li><a href="JavaScript:Void(0);">تور<span class="submenu-indicator"></span></a>
                    <ul class="nav-dropdown nav-submenu">
                      <li><a href="destination-01.html">لیست نسخه 1</a></li>
                      <li><a href="destination-02.html">لیست نسخه 2</a></li>
                      <li><a href="destination-03.html">لیست نسخه 3</a></li>
                      <li><a href="destination-detail.html">جزئیات تور</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="join-us.html">میزبان شوید</a>
                  </li>
                  <li>
                    <a href="add-listing.html">ثبت اقامتگاه</a>
                  </li>
                  <li>
                    <a href="compare-listing.html">مقایسه اقامتگاه</a>
                  </li>
                  <li>
                    <a href="booking-page.html">رزرو تور</a>
                  </li>
                  <li>
                    <a href="my-profile.html">حساب کاربری</a>
                  </li>
                </ul>
              </li>

              <li><a href="JavaScript:Void(0);">صفحات<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="JavaScript:Void(0);">وبلاگ<span class="submenu-indicator"></span></a>
                    <ul class="nav-dropdown nav-submenu">
                      <li><a href="classic-blog.html">لیست نسخه 1</a></li>
                      <li><a href="blog.html">لیست نسخه 2</a></li>
                      <li><a href="blog-detail.html">جزئیات</a></li>
                    </ul>
                  </li>
                  <li><a href="JavaScript:Void(0);">اعتبارسنجی<span class="submenu-indicator"></span></a>
                    <ul class="nav-dropdown nav-submenu">
                      <li><a href="login.html">ورود</a></li>
                      <li><a href="register.html">ثبت نام</a></li>
                      <li><a href="forgot-password.html">فراموشی رمز</a></li>
                      <li><a href="two-factor-auth.html">اعتبارسنجی دو مرحله ای</a></li>
                    </ul>
                  </li>
                  <li><a href="about-us.html">درباره ما</a></li>
                  <li><a href="career-page.html">فرصت های شغلی</a></li>
                  <li><a href="help-center.html">پشتیبانی</a></li>
                  <li><a href="faq.html">سوالات متداول</a></li>
                  <li><a href="404.html">صفحه 404</a></li>
                  <li><a href="pricing.html">قیمت گذاری</a></li>
                  <li><a href="privacy-policy.html">شرایط استفاده</a></li>
                  <li><a href="JavaScript:Void(0);">تماس با ما<span class="submenu-indicator"></span></a>
                    <ul class="nav-dropdown nav-submenu">
                      <li><a href="contact-v1.html">نسخه 1</a></li>
                      <li><a href="contact-v2.html">نسخه 2</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li><a href="JavaScript:Void(0);">منو<span class="submenu-indicator"></span></a>
                <ul class="nav-dropdown nav-submenu xxl-menu">
                  <li>
                    <a href="home-stay.html">
                      <div class="mega-advance-menu">
                        <div class="mega-first square--50 rounded-2 gray-simple text-success fs-4"><i
                            class="fa-solid fa-spa"></i></div>
                        <div class="mega-last pe-2">
                          <h6 class="lh-base fs-6 font--bold m-0">اقامتگاه</h6>
                          <p class="text-sm-muted m-0">مکانی زیبا برای اقامت</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="home-hotel.html">
                      <div class="mega-advance-menu">
                        <div class="mega-first square--50 rounded-2 gray-simple text-warning fs-4"><i
                            class="fa-solid fa-hotel"></i></div>
                        <div class="mega-last pe-2">
                          <h6 class="lh-base fs-6 font--bold m-0">هتل</h6>
                          <p class="text-sm-muted m-0">مکانی زیبا برای اقامت</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="home-flight.html">
                      <div class="mega-advance-menu">
                        <div class="mega-first square--50 rounded-2 gray-simple text-primary fs-4"><i
                            class="fa-solid fa-plane"></i></div>
                        <div class="mega-last pe-2">
                          <h6 class="lh-base fs-6 font--bold m-0">پرواز</h6>
                          <p class="text-sm-muted m-0">مکانی زیبا برای اقامت</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="home-rental.html">
                      <div class="mega-advance-menu">
                        <div class="mega-first square--50 rounded-2 gray-simple text-purple fs-4"><i
                            class="fa-solid fa-eye"></i></div>
                        <div class="mega-last pe-2">
                          <h6 class="lh-base fs-6 font--bold m-0">اجاره</h6>
                          <p class="text-sm-muted m-0">مکانی زیبا برای اقامت</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="home-car.html">
                      <div class="mega-advance-menu">
                        <div class="mega-first square--50 rounded-2 gray-simple text-seagreen fs-4"><i
                            class="fa-brands fa-dropbox"></i></div>
                        <div class="mega-last pe-2">
                          <h6 class="lh-base fs-6 font--bold m-0">ماشین</h6>
                          <p class="text-sm-muted m-0">مکانی زیبا برای اقامت</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="home-stay.html">
                      <div class="mega-advance-menu">
                        <div class="mega-first square--50 rounded-2 gray-simple text-info fs-4"><i
                            class="fa-solid fa-person-walking-luggage"></i></div>
                        <div class="mega-last pe-2">
                          <h6 class="lh-base fs-6 font--bold m-0">تور</h6>
                          <p class="text-sm-muted m-0">مکانی زیبا برای اقامت</p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>

              <li><a href="documantion/index.html" target="_blank">داکیومنت</a></li>

            </ul>

            <ul class="nav-menu nav-menu-social align-to-left">
              <li class="currencyDropdown ms-2">
                <a href="blog.html#" class="nav-link" data-bs-toggle="modal" data-bs-target="#currencyModal"><span
                    class="fw-medium">INR</span></a>
              </li>
              <li class="languageDropdown ms-2">
                <a href="blog.html#" class="nav-link" data-bs-toggle="modal" data-bs-target="#countryModal"><img
                    src="assets/img/flag/flag.png" class="img-fluid" width="17" alt="Country"></a>
              </li>
              <li class="list-buttons">
                <a href="blog.html#" class="bg-primary" data-bs-toggle="modal" data-bs-target="#login"><i
                    class="fa-regular fa-circle-user fs-6 ms-2"></i>ثبت نام / ورود</a>
              </li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>
		<!-- ============================================================== -->
		<!-- Top header  -->
		<!-- ============================================================== -->


		<!-- ============================ Booking Title ================================== -->
		<section class="bg-cover position-relative" style="background:url(assets/img/bg-title.jpg)no-repeat;" data-overlay="5">
			<div class="container">
				<div class="row align-items-center justify-content-center">
					<div class="col-xl-7 col-lg-9 col-md-12">

						<div class="fpc-capstion text-center my-4">
							<div class="fpc-captions">
								<h1 class="xl-heading text-light">لیست وبلاگ</h1>
								<p class="text-light">با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="fpc-banner"></div>
		</section>
		<!-- ============================ Booking Title ================================== -->


		<!-- ============================ Articles Section ================================== -->
		<section>
			<div class="container">

				<div class="row justify-content-center g-4">

					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="blogGrid-wrap d-flex flex-column h-100">
							<div class="blogGrid-pics">
								<a href="blog.html#" class="d-block"><img src="assets/img/blog-1.jpg" class="img-fluid rounded" alt=""></a>
							</div>
							<div class="blogGrid-caps pt-3">
								<div class="d-flex align-items-center mb-1"><span
										class="label text-success bg-light-success">اخبار سفر</span></div>
								<h4 class="fw-bold fs-6 lh-base"><a href="blog.html#" class="text-dark">دریاچه زریوار، نگین فیروزه‌ای کردستان</a></h4>
								<p class="mb-3">برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی...</p>
								<a class="text-primary fw-medium" href="blog.html#">بیشتر بخوانید<i class="fa-solid fa-arrow-trend-up me-2"></i></a>
							</div>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="blogGrid-wrap d-flex flex-column h-100">
							<div class="blogGrid-pics">
								<a href="blog.html#" class="d-block"><img src="assets/img/blog-2.jpg" class="img-fluid rounded" alt=""></a>
							</div>
							<div class="blogGrid-caps pt-3">
								<div class="d-flex align-items-center mb-1"><span
										class="label text-success bg-light-success">جاهای دیدنی</span></div>
								<h4 class="fw-bold fs-6 lh-base"><a href="blog.html#" class="text-dark"> لیست کاملی از جذاب‌ترین سوغات لندن</a></h4>
								<p class="mb-3">برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی...</p>
								<a class="text-primary fw-medium" href="blog.html#">بیشتر بخوانید<i class="fa-solid fa-arrow-trend-up me-2"></i></a>
							</div>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="blogGrid-wrap d-flex flex-column h-100">
							<div class="blogGrid-pics">
								<a href="blog.html#" class="d-block"><img src="assets/img/blog-3.jpg" class="img-fluid rounded" alt=""></a>
							</div>
							<div class="blogGrid-caps pt-3">
								<div class="d-flex align-items-center mb-1"><span
										class="label text-success bg-light-success">بازارگردی</span></div>
								<h4 class="fw-bold fs-6 lh-base"><a href="blog.html#" class="text-dark"> قدرتمندترین پاسپورت‌های جهان در سال ۲۰۲۴</a></h4>
								<p class="mb-3">برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی...</p>
								<a class="text-primary fw-medium" href="blog.html#">بیشتر بخوانید<i class="fa-solid fa-arrow-trend-up me-2"></i></a>
							</div>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="blogGrid-wrap d-flex flex-column h-100">
							<div class="blogGrid-pics">
								<a href="blog.html#" class="d-block"><img src="assets/img/blog-1.jpg" class="img-fluid rounded" alt=""></a>
							</div>
							<div class="blogGrid-caps pt-3">
								<div class="d-flex align-items-center mb-1"><span
										class="label text-success bg-light-success">سوغات</span></div>
								<h4 class="fw-bold fs-6 lh-base"><a href="blog.html#" class="text-dark">بازی رنگ، طعم و نقش در سوغات کرمانشاه</a></h4>
								<p class="mb-3">برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی...</p>
								<a class="text-primary fw-medium" href="blog.html#">بیشتر بخوانید<i class="fa-solid fa-arrow-trend-up me-2"></i></a>
							</div>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="blogGrid-wrap d-flex flex-column h-100">
							<div class="blogGrid-pics">
								<a href="blog.html#" class="d-block"><img src="assets/img/blog-2.jpg" class="img-fluid rounded" alt=""></a>
							</div>
							<div class="blogGrid-caps pt-3">
								<div class="d-flex align-items-center mb-1"><span
										class="label text-success bg-light-success">طبیعت گردی</span></div>
								<h4 class="fw-bold fs-6 lh-base"><a href="blog.html#" class="text-dark"> از قلعه تاریخی چرام کهگیلویه و بویراحمد چه می‌دانید؟</a></h4>
								<p class="mb-3">برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی...</p>
								<a class="text-primary fw-medium" href="blog.html#">بیشتر بخوانید<i class="fa-solid fa-arrow-trend-up me-2"></i></a>
							</div>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="blogGrid-wrap d-flex flex-column h-100">
							<div class="blogGrid-pics">
								<a href="blog.html#" class="d-block"><img src="assets/img/blog-3.jpg" class="img-fluid rounded" alt=""></a>
							</div>
							<div class="blogGrid-caps pt-3">
								<div class="d-flex align-items-center mb-1"><span
										class="label text-success bg-light-success">باغ و بوستان</span></div>
								<h4 class="fw-bold fs-6 lh-base"><a href="blog.html#" class="text-dark"> نارین قلعه میبد؛ سازه‌ای به سبک تاریخ</a></h4>
								<p class="mb-3">برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی...</p>
								<a class="text-primary fw-medium" href="blog.html#">بیشتر بخوانید<i class="fa-solid fa-arrow-trend-up me-2"></i></a>
							</div>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="blogGrid-wrap d-flex flex-column h-100">
							<div class="blogGrid-pics">
								<a href="blog.html#" class="d-block"><img src="assets/img/blog-1.jpg" class="img-fluid rounded" alt=""></a>
							</div>
							<div class="blogGrid-caps pt-3">
								<div class="d-flex align-items-center mb-1"><span
										class="label text-success bg-light-success">جاذبه های تاریخی</span></div>
								<h4 class="fw-bold fs-6 lh-base"><a href="blog.html#" class="text-dark"> کافه های بندرعباس برای جمع‌های گرم</a></h4>
								<p class="mb-3">برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی...</p>
								<a class="text-primary fw-medium" href="blog.html#">بیشتر بخوانید<i class="fa-solid fa-arrow-trend-up me-2"></i></a>
							</div>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="blogGrid-wrap d-flex flex-column h-100">
							<div class="blogGrid-pics">
								<a href="blog.html#" class="d-block"><img src="assets/img/blog-2.jpg" class="img-fluid rounded" alt=""></a>
							</div>
							<div class="blogGrid-caps pt-3">
								<div class="d-flex align-items-center mb-1"><span
										class="label text-success bg-light-success">اخبار سفر</span></div>
								<h4 class="fw-bold fs-6 lh-base"><a href="blog.html#" class="text-dark"> غذاهای سنتی قطر و سفری حول محور عطر و طعم</a></h4>
								<p class="mb-3">برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی...</p>
								<a class="text-primary fw-medium" href="blog.html#">بیشتر بخوانید<i class="fa-solid fa-arrow-trend-up me-2"></i></a>
							</div>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="blogGrid-wrap d-flex flex-column h-100">
							<div class="blogGrid-pics">
								<a href="blog.html#" class="d-block"><img src="assets/img/blog-3.jpg" class="img-fluid rounded" alt=""></a>
							</div>
							<div class="blogGrid-caps pt-3">
								<div class="d-flex align-items-center mb-1"><span
										class="label text-success bg-light-success">اخبار سفر</span></div>
								<h4 class="fw-bold fs-6 lh-base"><a href="blog.html#" class="text-dark"> از قدمت و معماری هتل داد یزد چه می‌دانید؟ </a></h4>
								<p class="mb-3">برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی...</p>
								<a class="text-primary fw-medium" href="blog.html#">بیشتر بخوانید<i class="fa-solid fa-arrow-trend-up me-2"></i></a>
							</div>
						</div>
					</div>

				</div>

				<div class="row align-items-center">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="d-flex align-items-center justify-content-center mt-5 mx-auto text-center">
							<button type="button" class="btn btn-light-primary rounded-pill px-5 fw-medium">مشاهده بیشتر</button>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- ============================ Articles Section End ================================== -->


		<!-- ============================ Footer Start ================================== -->
		<footer class="footer skin-dark-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-4">
							<div class="footer-widget">
								<div class="d-flex align-items-start flex-column mb-3">
									<div class="d-inline-block"><img src="assets/img/logo-light.png" class="img-fluid" width="160"
											alt="Footer Logo"></div>
								</div>
								<div class="footer-add ps-xl-3">
                  <p>ما با شادی فراوان رویای شما را زیباتر و لذت بخش تر می کنیم.</p>
                </div>
                <div class="foot-socials">
                  <ul>
                    <li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="JavaScript:Void(0);"><i class="fa-brands fa-google-plus"></i></a></li>
                    <li><a href="JavaScript:Void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="JavaScript:Void(0);"><i class="fa-brands fa-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4">
              <div class="footer-widget">
                <h4 class="widget-title">لینک های سریع</h4>
                <ul class="footer-menu">
                  <li><a href="JavaScript:Void(0);">درباره ما</a></li>
                  <li><a href="JavaScript:Void(0);">مجله گردشگری</a></li>
                  <li><a href="JavaScript:Void(0);">بیمه مسافرتی</a></li>
                  <li><a href="JavaScript:Void(0);">قوانین سایت</a></li>
                  <li><a href="JavaScript:Void(0);">تماس با ما</a></li>
                  <li><a href="JavaScript:Void(0);">فرصت های شغلی</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-2 col-md-4">
              <div class="footer-widget">
                <h4 class="widget-title">خدمات پرواز و هتل</h4>
                <ul class="footer-menu">
                  <li><a href="JavaScript:Void(0);">خرید بلیط هواپیما</a></li>
                  <li><a href="JavaScript:Void(0);">رزرو هتل</a></li>
                  <li><a href="JavaScript:Void(0);">درخواست ویزا</a></li>
                  <li><a href="JavaScript:Void(0);">رزرو اقامتگاه</a></li>
                  <li><a href="JavaScript:Void(0);">بلیط چارتر</a></li>
                  <li><a href="JavaScript:Void(0);">پشتیبانی</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-2 col-md-6">
              <div class="footer-widget">
                <h4 class="widget-title">نحوه رزرو اقامتگاه</h4>
                <ul class="footer-menu">
                  <li><a href="JavaScript:Void(0);">راهنمای رزرو اقامتگاه</a></li>
                  <li><a href="JavaScript:Void(0);">همکاران سازمانی</a></li>
                  <li><a href="JavaScript:Void(0);">تماس با ما</a></li>
                  <li><a href="JavaScript:Void(0);">پرسش های متداول</a></li>
                  <li><a href="JavaScript:Void(0);">شرایط لغو</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                <h4 class="widget-title">روش های پرداخت</h4>
                <div class="pmt-wrap">
                  <img src="assets/img/payment.png" class="img-fluid" alt="">
                </div>
                <div class="our-prtwrap mt-4">
                  <div class="prtn-title">
                    <p class="text-muted-2 fw-medium">همکاران ما</p>
                  </div>
                  <div class="prtn-thumbs d-flex align-items-center justify-content-start">
                    <div class="pmt-wrap ps-4">
                      <img src="assets/img/mytrip.png" class="img-fluid" alt="">
                    </div>
                    <div class="pmt-wrap ps-4">
                      <img src="assets/img/tripadv.png" class="img-fluid" alt="">
                    </div>
                    <div class="pmt-wrap ps-4">
                      <img src="assets/img/goibibo.png" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="footer-bottom border-top">
        <div class="container">
          <div class="row align-items-center justify-content-between">

            <div class="col-xl-6 col-lg-6 col-md-6">
              <p class="mb-0">© 2023 کلیه حقوق این سایت محفوظ و متعلق به شرکت خدمات مسافرتی و گردشگری است.</p>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
              <ul class="p-0 d-flex justify-content-start justify-content-md-end text-start text-md-end m-0">
                <li><a href="blog.html#">شرایط و قوانین</a></li>
                <li class="me-3"><a href="blog.html#">درباره ما</a></li>
                <li class="me-3"><a href="blog.html#">کوکی ها</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </footer>
    <!-- ============================ Footer End ================================== -->

    <!-- Log In Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
        <div class="modal-content" id="loginmodal">
          <div class="modal-header">
            <h4 class="modal-title fs-6">ثبت نام / ورود</h4>
            <a href="blog.html#" class="text-muted fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                class="fa-solid fa-square-xmark"></i></a>
          </div>
          <div class="modal-body">
            <div class="modal-login-form py-4 px-md-3 px-0">
              <form>

                <div class="form-floating mb-4">
                  <input type="email" class="form-control" placeholder="name@example.com">
                  <label>نام کاربری</label>
                </div>
                <div class="form-floating mb-4">
                  <input type="password" class="form-control" placeholder="********">
                  <label>رمز عبور</label>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary full-width font--bold btn-lg">ورود</button>
                </div>

                <div class="modal-flex-item d-flex align-items-center justify-content-between mb-3">
                  <div class="modal-flex-first">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="savepassword" value="option1">
                      <label class="form-check-label" for="savepassword">ذخیره رمز عبور</label>
                    </div>
                  </div>
                  <div class="modal-flex-last">
                    <a href="JavaScript:Void(0);" class="text-primary fw-medium">رمز عبور را فراموش کرده اید؟</a>
                  </div>
                </div>
              </form>
            </div>

            <div class="prixer px-3">
              <div class="devider-wraps position-relative">
                <div class="devider-text text-muted-2 text-md">با روش های زیر وارد سیستم شوید</div>
              </div>
            </div>

            <div class="social-login py-4 px-2">
              <ul class="row align-items-center justify-content-between g-3 p-0 m-0">
                <li class="col"><a href="blog.html#" class="square--60 border br-dashed rounded-2 full-width"><i
                      class="fa-brands fa-facebook color--facebook fs-2"></i></a></li>
                <li class="col"><a href="blog.html#" class="square--60 border br-dashed rounded-2"><i
                      class="fa-brands fa-whatsapp color--whatsapp fs-2"></i></a></li>
                <li class="col"><a href="blog.html#" class="square--60 border br-dashed rounded-2"><i
                      class="fa-brands fa-linkedin color--linkedin fs-2"></i></a></li>
                <li class="col"><a href="blog.html#" class="square--60 border br-dashed rounded-2"><i
                      class="fa-brands fa-dribbble color--dribbble fs-2"></i></a></li>
                <li class="col"><a href="blog.html#" class="square--60 border br-dashed rounded-2"><i
                      class="fa-brands fa-twitter color--twitter fs-2"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer align-items-center justify-content-center">
            <p>حساب کاربری ندارید؟<a href="signup.html" class="text-primary fw-medium me-1">ثبت نام</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    <!-- Choose Currency Modal -->
    <div class="modal modal-lg fade" id="currencyModal" tabindex="-1" aria-labelledby="currenyModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title fs-6" id="currenyModalLabel">انتخاب واحد ارز</h4>
            <a href="blog.html#" class="text-muted fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                class="fa-solid fa-square-xmark"></i></a>
          </div>
          <div class="modal-body">
            <div class="allCurrencylist">

              <div class="suggestedCurrencylist-wrap mb-4">
                <div class="d-inline-block mb-0 ps-3">
                  <h5 class="fs-6 fw-bold">ارزهای پیشنهادی</h5>
                </div>
                <div class="suggestedCurrencylists">
                  <ul
                    class="row align-items-center justify-content-start row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-2 gy-2 gx-3 m-0 p-0">
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">ایالات متحده دلار</div>
                        <div class="text-muted-2 text-md text-uppercase">USD</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">سودان پوند</div>
                        <div class="text-muted-2 text-md text-uppercase">GBP</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency active" href="blog.html#">
                        <div class="text-dark text-md fw-medium">هندوستان روپیه</div>
                        <div class="text-muted-2 text-md text-uppercase">Inr</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">کلمبیا پزوی</div>
                        <div class="text-muted-2 text-md text-uppercase">EUR</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">استرالیا دلار</div>
                        <div class="text-muted-2 text-md text-uppercase">aud</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">مراکش درهم</div>
                        <div class="text-muted-2 text-md text-uppercase">thb</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="suggestedCurrencylist-wrap">
                <div class="d-inline-block mb-0 ps-3">
                  <h5 class="fs-6 fw-bold">همه ارزها</h5>
                </div>
                <div class="suggestedCurrencylists">
                  <ul
                    class="row align-items-center justify-content-start row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-2 gy-2 gx-3 m-0 p-0">
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">دلار ایالات متحده</div>
                        <div class="text-muted-2 text-md text-uppercase">USD</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">پوند لبنان</div>
                        <div class="text-muted-2 text-md text-uppercase">GBP</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">روپیه اندونزی</div>
                        <div class="text-muted-2 text-md text-uppercase">EUR</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">وون کره جنوبی</div>
                        <div class="text-muted-2 text-md text-uppercase">Inr</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">درهم مراکش</div>
                        <div class="text-muted-2 text-md text-uppercase">aud</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">دلار تایوان</div>
                        <div class="text-muted-2 text-md text-uppercase">thb</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">ریال یمن</div>
                        <div class="text-muted-2 text-md text-uppercase">USD</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">پزوی شیلی</div>
                        <div class="text-muted-2 text-md text-uppercase">GBP</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">کانادا دلار</div>
                        <div class="text-muted-2 text-md text-uppercase">EUR</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">دلار باهاماس</div>
                        <div class="text-muted-2 text-md text-uppercase">Inr</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">کونا کرواسی</div>
                        <div class="text-muted-2 text-md text-uppercase">aud</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">سامانی تاجیکستان</div>
                        <div class="text-muted-2 text-md text-uppercase">thb</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">پوند سودان</div>
                        <div class="text-muted-2 text-md text-uppercase">USD</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">روپیه سیشل</div>
                        <div class="text-muted-2 text-md text-uppercase">GBP</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">دینار صربستان</div>
                        <div class="text-muted-2 text-md text-uppercase">EUR</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">فرانک رواندا</div>
                        <div class="text-muted-2 text-md text-uppercase">Inr</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">دینار صربستان</div>
                        <div class="text-muted-2 text-md text-uppercase">aud</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">لئو رومانی</div>
                        <div class="text-muted-2 text-md text-uppercase">thb</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="blog.html#">
                        <div class="text-dark text-md fw-medium">سنگاپور دلار</div>
                        <div class="text-muted-2 text-md text-uppercase">thb</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Choose Countries Modal -->
    <div class="modal modal-lg fade" id="countryModal" tabindex="-1" aria-labelledby="countryModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title fs-6" id="countryModalLabel">انتخاب کشور</h4>
            <a href="blog.html#" class="text-muted fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                class="fa-solid fa-square-xmark"></i></a>
          </div>
          <div class="modal-body">
            <div class="allCountrieslist">

              <div class="suggestedCurrencylist-wrap mb-4">
                <div class="d-inline-block mb-0 ps-3">
                  <h5 class="fs-6 fw-bold">کشورهای پیشنهادی</h5>
                </div>
                <div class="suggestedCurrencylists">
                  <ul
                    class="row align-items-center justify-content-start row-cols-xl-4 row-cols-lg-3 row-cols-2 gy-2 gx-3 m-0 p-0">
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/united-states.png"
                            class="img-fluid circle" width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">ایالات متحده</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/united-kingdom.png"
                            class="img-fluid circle" width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">فرانسه</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry active" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/flag.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">هندوستان</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/belgium.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">آمریکا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/brazil.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">استرالیا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/china.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">تایلند</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="suggestedCurrencylist-wrap">
                <div class="d-inline-block mb-0 ps-3">
                  <h5 class="fs-6 fw-bold">همه کشورها</h5>
                </div>
                <div class="suggestedCurrencylists">
                  <ul
                    class="row align-items-center justify-content-start row-cols-xl-4 row-cols-lg-3 row-cols-2 gy-2 gx-3 m-0 p-0">
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/united-states.png"
                            class="img-fluid circle" width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">ایالات متحده</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/vietnam.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">اسپانیا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/turkey.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">آرژانتین</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/spain.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">آذربایجان</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/japan.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">استرالیا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/flag.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">بحرین</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/portugal.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">برزیل</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/italy.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">روسیه</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/germany.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">کانادا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/france.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">شیکاگو</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/european.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">کلمبیا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/china.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">سوئیس</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/brazil.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">مصر</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/belgium.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">سوئد</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/turkey.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">ژاپن</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/spain.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">عربستان</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/germany.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">کویت</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/france.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">میلان</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="blog.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/brazil.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">سنگاپور</div>
						  </a>
						</li>
					  </ul>
					</div>
				  </div>

				</div>
			  </div>
			</div>
		  </div>
		</div>


		<a id="back2Top" class="top-scroll" title="Back to top" href="blog.html#"><i class="fa-solid fa-sort-up"></i></a>


	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->


	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/dropzone.min.js"></script>
    <script src="assets/js/flatpickr.js"></script>
    <script src="assets/js/flickity.pkgd.min.js"></script>
    <script src="assets/js/lightbox.min.js"></script>
    <script src="assets/js/rangeslider.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/prism.js"></script>

	<script src="assets/js/custom.js"></script>
	<!-- ============================================================== -->
	<!-- This page plugins -->
	<!-- ============================================================== -->
</body>

</html>