<!doctype html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GeoTrip - قالب HTML رزرو تور و آژانس مسافرتی ژِئوتریپ</title>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">

  <!-- All Plugins -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/animation.css" rel="stylesheet">
  <link href="assets/css/dropzone.min.css" rel="stylesheet">
  <link href="assets/css/flatpickr.min.css" rel="stylesheet">
  <link href="assets/css/flickity.min.css" rel="stylesheet">
  <link href="assets/css/lightbox.min.css" rel="stylesheet">
  <link href="assets/css/magnifypopup.css" rel="stylesheet">
  <link href="assets/css/select2.min.css" rel="stylesheet">
  <link href="assets/css/rangeSlider.min.css" rel="stylesheet">
  <link href="assets/css/prism.css" rel="stylesheet">

  <!-- Fontawesome & Bootstrap Icons CSS -->
  <link href="assets/css/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/css/fontawesome.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div id="preloader">
		<div class="preloader"><span></span><span></span></div>
	</div>

	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper">

		<!-- ============================================================== -->
		<!-- Top header  -->
		<!-- ============================================================== -->
		<!-- Start Navigation -->
		<div class="header header-theme">
			<div class="container">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand static-show" href="bookingpage-03.html#"><img src="assets/img/logo-light.png" class="logo" alt=""></a>
						<a class="nav-brand mob-show" href="bookingpage-03.html#"><img src="assets/img/logo.png" class="logo" alt=""></a>
						<div class="nav-toggle"></div>
						<div class="mobile_nav">
							<ul>
								<li class="currencyDropdown ms-2">
									<a href="bookingpage-03.html#" class="nav-link" data-bs-toggle="modal" data-bs-target="#currencyModal"><span
											class="fw-medium">INR</span></a>
								</li>
								<li class="languageDropdown ms-2">
									<a href="bookingpage-03.html#" class="nav-link" data-bs-toggle="modal" data-bs-target="#countryModal"><img
											src="assets/img/flag/flag.png" class="img-fluid" width="17" alt="Country"></a>
								</li>
								<li>
									<a href="bookingpage-03.html#" class="bg-light-primary text-primary rounded" data-bs-toggle="modal"
										data-bs-target="#login"><i class="fa-regular fa-circle-user fs-6"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">

							<li class="active"><a href="home-stay.html"><i class="fa-solid fa-umbrella-beach ms-2"></i>اقامتگاه</a></li>
							<li><a href="home-flight.html"><i class="fa-solid fa-jet-fighter ms-2"></i>پرواز</a></li>
							<li><a href="home-hotel.html"><i class="fa-solid fa-spa ms-2"></i>هتل</a></li>
							<li><a href="home-rental.html"><i class="fa-solid fa-house-circle-check ms-2"></i>اجاره</a></li>
							<li><a href="home-car.html"><i class="fa-solid fa-car ms-2"></i>خودرو</a></li>

						</ul>

						<ul class="nav-menu nav-menu-social align-to-left">
							<li class="currencyDropdown ms-2">
								<a href="bookingpage-03.html#" class="nav-link" data-bs-toggle="modal" data-bs-target="#currencyModal"><span
										class="fw-medium">INR</span></a>
							</li>
							<li class="languageDropdown ms-2">
								<a href="bookingpage-03.html#" class="nav-link" data-bs-toggle="modal" data-bs-target="#countryModal"><img
										src="assets/img/flag/flag.png" class="img-fluid" width="17" alt="Country"></a>
							</li>
							<li class="list-buttons light">
								<a href="bookingpage-03.html#" data-bs-toggle="modal" data-bs-target="#login"><i
										class="fa-regular fa-circle-user fs-6 ms-2"></i>ورود / ثبت نام</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>
		<!-- ============================================================== -->
		<!-- Top header  -->
		<!-- ============================================================== -->


		<!-- ============================ Booking Page ================================== -->
		<section class="pt-4 gray-simple position-relative">
			<div class="container">

				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div id="stepper" class="bs-stepper stepper-outline mb-5">
							<div class="bs-stepper-header">
								<!-- Step 1 -->
								<div class="step completed" data-target="#step-1">
									<div class="text-center">
										<button type="button" class="step-trigger mb-0" id="steppertrigger1">
											<span class="bs-stepper-circle"><i class="fa-solid fa-check"></i></span>
										</button>
										<h6 class="bs-stepper-label d-none d-md-block">اطلاعات تور</h6>
									</div>
								</div>
								<div class="line"></div>

								<!-- Step 2 -->
								<div class="step completed" data-target="#step-2">
									<div class="text-center">
										<button type="button" class="step-trigger mb-0" id="steppertrigger2">
											<span class="bs-stepper-circle">2</span>
										</button>
										<h6 class="bs-stepper-label d-none d-md-block">اطلاعات مسافران</h6>
									</div>
								</div>
								<div class="line"></div>

								<!-- Step 3 -->
								<div class="step active" data-target="#step-3">
									<div class="text-center">
										<button type="button" class="step-trigger mb-0" id="steppertrigger3">
											<span class="bs-stepper-circle">3</span>
										</button>
										<h6 class="bs-stepper-label d-none d-md-block">پرداخت</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row align-items-start">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="div-title d-flex align-items-center mb-3">
							<h4>جزئیات صورتحساب</h4>
						</div>
						<div class="row align-items-start">
							<div class="col-xl-8 col-lg-8 col-md-12">

								<div class="card mb-3">
									<div class="card-header">
										<h4>اطلاعات خریدار</h4>
									</div>
									<div class="card-body">
										<div class="row">

											<div class="col-xl-6 col-lg-6 col-md-6">
												<div class="form-group">
													<label class="form-label">نام</label>
													<input type="text" class="form-control" placeholder="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-6 col-md-6">
												<div class="form-group">
													<label class="form-label">نام خانوادگی</label>
													<input type="text" class="form-control" placeholder="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-6 col-md-6">
												<div class="form-group">
													<label class="form-label">شماره تماس</label>
													<input type="text" class="form-control" placeholder="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-6 col-md-6">
												<div class="form-group">
													<label class="form-label">آدرس 1</label>
													<input type="text" class="form-control" placeholder="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-6 col-md-6">
												<div class="form-group">
													<label class="form-label">آدرس 2</label>
													<input type="text" class="form-control" placeholder="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-6 col-md-6">
												<div class="form-group">
													<label class="form-label">کشور</label>
													<input type="text" class="form-control" placeholder="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-6 col-md-6">
												<div class="form-group">
													<label class="form-label">شهرستان/ شهر</label>
													<input type="text" class="form-control" placeholder="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-6 col-md-6">
												<div class="form-group">
													<label class="form-label">کدپستی</label>
													<input type="text" class="form-control" placeholder="">
												</div>
											</div>
											<div class="col-xl-12 col-lg-12 col-md-12">
												<div class="form-group">
													<label class="form-label">توضیحات (اختیاری)</label>
													<textarea class="form-control ht-200"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="col-xl-4 col-lg-4 col-md-12">
								<div class="side-block card rounded-2 p-3">
									<div class="d-flex align-items-center justify-content-between mb-3">
										<h5 class="fw-semibold fs-6 mb-0">انتخاب کارت</h5>
										<div class="d-flex align-items-start"><a href="bookingpage-03.html#" class="text-md fw-semibold text-primary">مدیریت کارت ها</a></div>
									</div>
									<div class="mid-block mb-2">
										<div class="paymntCardsoption-groups">
											<div class="single-paymntCardsoption d-block position-relative mb-2">
												<div class="paymnt-line active d-flex align-items-center justify-content-start">
													<div class="position-relative text-center">
														<div class="form-check lg mb-0">
															<input class="form-check-input" type="radio" name="payment" id="visa" checked>
															<label class="form-check-label" for="visa"></label>
														</div>
													</div>
													<div class="paymnt-line-caps d-flex align-items-center justify-content-start">
														<div class="paymnt-caps-icons d-inline-flex">
															<i class="fa-brands fa-cc-visa text-seegreen fs-1"></i>
														</div>
														<div class="paymnt-caps-details pe-2">
															<span
																class="text-uppercase d-block fw-semibold text-md text-dark lh-2 mb-0">Visa****7542</span>
															<span class="text-sm text-muted lh-2">تاریخ انقضاء 03/12</span>
														</div>
													</div>
												</div>
											</div>
											<div class="single-paymntCardsoption d-block position-relative mb-2">
												<div class="paymnt-line d-flex align-items-center justify-content-start">
													<div class="position-relative text-center">
														<div class="form-check lg mb-0">
															<input class="form-check-input" type="radio" name="payment" id="master">
															<label class="form-check-label" for="master"></label>
														</div>
													</div>
													<div class="paymnt-line-caps d-flex align-items-center justify-content-start">
														<div class="paymnt-caps-icons d-inline-flex">
															<i class="fa-brands fa-cc-mastercard text-danger fs-1"></i>
														</div>
														<div class="paymnt-caps-details pe-2">
															<span
																class="text-uppercase d-block fw-semibold text-md text-dark lh-2 mb-0">Master****8956</span>
															<span class="text-sm text-muted lh-2">تاریخ انقضاء 03/12</span>
														</div>
													</div>
												</div>
											</div>
											<div class="single-paymntCardsoption d-block position-relative mb-2">
												<div class="paymnt-line d-flex align-items-center justify-content-start">
													<div class="position-relative text-center">
														<div class="form-check lg mb-0">
															<input class="form-check-input" type="radio" name="payment" id="amazone">
															<label class="form-check-label" for="amazone"></label>
														</div>
													</div>
													<div class="paymnt-line-caps d-flex align-items-center justify-content-start">
														<div class="paymnt-caps-icons d-inline-flex">
															<i class="fa-brands fa-cc-amazon-pay text-warning fs-1"></i>
														</div>
														<div class="paymnt-caps-details pe-2">
															<span class="text-uppercase d-block fw-semibold text-md text-dark lh-2 mb-0">Amazone</span>
														</div>
													</div>
												</div>
											</div>
											<div class="single-paymntCardsoption d-block position-relative mb-2">
												<div class="paymnt-line d-flex align-items-center justify-content-start">
													<div class="position-relative text-center">
														<div class="form-check lg mb-0">
															<input class="form-check-input" type="radio" name="payment" id="paypal">
															<label class="form-check-label" for="paypal"></label>
														</div>
													</div>
													<div class="paymnt-line-caps d-flex align-items-center justify-content-start">
														<div class="paymnt-caps-icons d-inline-flex">
															<i class="fa-brands fa-cc-paypal text-info fs-1"></i>
														</div>
														<div class="paymnt-caps-details pe-2">
															<span class="text-uppercase d-block fw-semibold text-md text-dark lh-2 mb-0">PayPal</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="summary-block d-block mb-3">
										<h5 class="fw-semibold fs-6">خلاصه</h5>
										<ul class="list-group list-group-borderless">
											<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 py-1">
												<span class="fw-medium text-sm text-muted mb-0">مبلغ:</span>
												<span class="fw-semibold text-md">950,000,000 ریال</span>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 py-1">
												<span class="fw-medium text-sm text-muted mb-0">مالیات</span>
												<span class="fw-semibold text-md">0 ریال</span>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 py-1">
												<span class="fw-medium text-sm text-muted mb-0">مبلغ کل:</span>
												<span class="fw-semibold text-success text-md">950,000,000 ریال</span>
											</li>
										</ul>
									</div>
									<div class="bott-block mb-3">
										<div
											class="d-flex align-items-center justify-content-center py-2 px-3 rounded-2 bg-light-success mb-2">
											<div class="d-inline-flex text-success fs-2"><i class="fa-solid fa-shield-heart"></i></div>
											<div class="d-inline-flex flex-column pe-2">
												<span class="d-block text-md text-dark fw-semibold lh-2">100% استرداد وجه</span>
												<span class="d-block text-sm text-muted-2 lh-2">ما از پول شما محافظت می کنیم</span>
											</div>
										</div>
										<button class="btn fw-medium btn-primary full-width" type="button">پرداخت</button>
									</div>
									<div class="autopay-block-block">
										<div class="d-flex align-items-center justify-content-between">
											<div class="fluy-autpay">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch" id="autopay">
													<label class="form-check-label me-1" for="autopay">پرداخت از اعتبار</label>
												</div>
											</div>
											<div class="fluy-bkr"><a href="bookingpage-03.html#" class="fw-semibold text-md text-dark">افزودن کارت جدید</a></div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="text-center d-flex align-items-center justify-content-center mt-4">
							<a href="bookingpage-02.html" class="btn btn-md btn-dark fw-semibold mx-2"><i
									class="fa-solid fa-arrow-right ms-2"></i>مرحله قبل</a>
							<a href="bookingpage-success.html" class="btn btn-md btn-primary fw-semibold mx-2">پرداخت<i
									class="fa-solid fa-arrow-left me-2"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ============================ Booking Page End ================================== -->


		<!-- ============================ Footer Start ================================== -->
		<footer class="footer skin-dark-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-4">
							<div class="footer-widget">
								<div class="d-flex align-items-start flex-column mb-3">
									<div class="d-inline-block"><img src="assets/img/logo-light.png" class="img-fluid" width="160"
											alt="Footer Logo"></div>
								</div>
								<div class="footer-add ps-xl-3">
                  <p>ما با شادی فراوان رویای شما را زیباتر و لذت بخش تر می کنیم.</p>
                </div>
                <div class="foot-socials">
                  <ul>
                    <li><a href="JavaScript:Void(0);"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="JavaScript:Void(0);"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="JavaScript:Void(0);"><i class="fa-brands fa-google-plus"></i></a></li>
                    <li><a href="JavaScript:Void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="JavaScript:Void(0);"><i class="fa-brands fa-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4">
              <div class="footer-widget">
                <h4 class="widget-title">لینک های سریع</h4>
                <ul class="footer-menu">
                  <li><a href="JavaScript:Void(0);">درباره ما</a></li>
                  <li><a href="JavaScript:Void(0);">مجله گردشگری</a></li>
                  <li><a href="JavaScript:Void(0);">بیمه مسافرتی</a></li>
                  <li><a href="JavaScript:Void(0);">قوانین سایت</a></li>
                  <li><a href="JavaScript:Void(0);">تماس با ما</a></li>
                  <li><a href="JavaScript:Void(0);">فرصت های شغلی</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-2 col-md-4">
              <div class="footer-widget">
                <h4 class="widget-title">خدمات پرواز و هتل</h4>
                <ul class="footer-menu">
                  <li><a href="JavaScript:Void(0);">خرید بلیط هواپیما</a></li>
                  <li><a href="JavaScript:Void(0);">رزرو هتل</a></li>
                  <li><a href="JavaScript:Void(0);">درخواست ویزا</a></li>
                  <li><a href="JavaScript:Void(0);">رزرو اقامتگاه</a></li>
                  <li><a href="JavaScript:Void(0);">بلیط چارتر</a></li>
                  <li><a href="JavaScript:Void(0);">پشتیبانی</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-2 col-md-6">
              <div class="footer-widget">
                <h4 class="widget-title">نحوه رزرو اقامتگاه</h4>
                <ul class="footer-menu">
                  <li><a href="JavaScript:Void(0);">راهنمای رزرو اقامتگاه</a></li>
                  <li><a href="JavaScript:Void(0);">همکاران سازمانی</a></li>
                  <li><a href="JavaScript:Void(0);">تماس با ما</a></li>
                  <li><a href="JavaScript:Void(0);">پرسش های متداول</a></li>
                  <li><a href="JavaScript:Void(0);">شرایط لغو</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="footer-widget">
                <h4 class="widget-title">روش های پرداخت</h4>
                <div class="pmt-wrap">
                  <img src="assets/img/payment.png" class="img-fluid" alt="">
                </div>
                <div class="our-prtwrap mt-4">
                  <div class="prtn-title">
                    <p class="text-muted-2 fw-medium">همکاران ما</p>
                  </div>
                  <div class="prtn-thumbs d-flex align-items-center justify-content-start">
                    <div class="pmt-wrap ps-4">
                      <img src="assets/img/mytrip.png" class="img-fluid" alt="">
                    </div>
                    <div class="pmt-wrap ps-4">
                      <img src="assets/img/tripadv.png" class="img-fluid" alt="">
                    </div>
                    <div class="pmt-wrap ps-4">
                      <img src="assets/img/goibibo.png" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="footer-bottom border-top">
        <div class="container">
          <div class="row align-items-center justify-content-between">

            <div class="col-xl-6 col-lg-6 col-md-6">
              <p class="mb-0">© 2023 کلیه حقوق این سایت محفوظ و متعلق به شرکت خدمات مسافرتی و گردشگری است.</p>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
              <ul class="p-0 d-flex justify-content-start justify-content-md-end text-start text-md-end m-0">
                <li><a href="bookingpage-03.html#">شرایط و قوانین</a></li>
                <li class="me-3"><a href="bookingpage-03.html#">درباره ما</a></li>
                <li class="me-3"><a href="bookingpage-03.html#">کوکی ها</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </footer>
    <!-- ============================ Footer End ================================== -->

    <!-- Log In Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
        <div class="modal-content" id="loginmodal">
          <div class="modal-header">
            <h4 class="modal-title fs-6">ثبت نام / ورود</h4>
            <a href="bookingpage-03.html#" class="text-muted fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                class="fa-solid fa-square-xmark"></i></a>
          </div>
          <div class="modal-body">
            <div class="modal-login-form py-4 px-md-3 px-0">
              <form>

                <div class="form-floating mb-4">
                  <input type="email" class="form-control" placeholder="name@example.com">
                  <label>نام کاربری</label>
                </div>
                <div class="form-floating mb-4">
                  <input type="password" class="form-control" placeholder="********">
                  <label>رمز عبور</label>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary full-width font--bold btn-lg">ورود</button>
                </div>

                <div class="modal-flex-item d-flex align-items-center justify-content-between mb-3">
                  <div class="modal-flex-first">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="savepassword" value="option1">
                      <label class="form-check-label" for="savepassword">ذخیره رمز عبور</label>
                    </div>
                  </div>
                  <div class="modal-flex-last">
                    <a href="JavaScript:Void(0);" class="text-primary fw-medium">رمز عبور را فراموش کرده اید؟</a>
                  </div>
                </div>
              </form>
            </div>

            <div class="prixer px-3">
              <div class="devider-wraps position-relative">
                <div class="devider-text text-muted-2 text-md">با روش های زیر وارد سیستم شوید</div>
              </div>
            </div>

            <div class="social-login py-4 px-2">
              <ul class="row align-items-center justify-content-between g-3 p-0 m-0">
                <li class="col"><a href="bookingpage-03.html#" class="square--60 border br-dashed rounded-2 full-width"><i
                      class="fa-brands fa-facebook color--facebook fs-2"></i></a></li>
                <li class="col"><a href="bookingpage-03.html#" class="square--60 border br-dashed rounded-2"><i
                      class="fa-brands fa-whatsapp color--whatsapp fs-2"></i></a></li>
                <li class="col"><a href="bookingpage-03.html#" class="square--60 border br-dashed rounded-2"><i
                      class="fa-brands fa-linkedin color--linkedin fs-2"></i></a></li>
                <li class="col"><a href="bookingpage-03.html#" class="square--60 border br-dashed rounded-2"><i
                      class="fa-brands fa-dribbble color--dribbble fs-2"></i></a></li>
                <li class="col"><a href="bookingpage-03.html#" class="square--60 border br-dashed rounded-2"><i
                      class="fa-brands fa-twitter color--twitter fs-2"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer align-items-center justify-content-center">
            <p>حساب کاربری ندارید؟<a href="signup.html" class="text-primary fw-medium me-1">ثبت نام</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->

    <!-- Choose Currency Modal -->
    <div class="modal modal-lg fade" id="currencyModal" tabindex="-1" aria-labelledby="currenyModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title fs-6" id="currenyModalLabel">انتخاب واحد ارز</h4>
            <a href="bookingpage-03.html#" class="text-muted fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                class="fa-solid fa-square-xmark"></i></a>
          </div>
          <div class="modal-body">
            <div class="allCurrencylist">

              <div class="suggestedCurrencylist-wrap mb-4">
                <div class="d-inline-block mb-0 ps-3">
                  <h5 class="fs-6 fw-bold">ارزهای پیشنهادی</h5>
                </div>
                <div class="suggestedCurrencylists">
                  <ul
                    class="row align-items-center justify-content-start row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-2 gy-2 gx-3 m-0 p-0">
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">ایالات متحده دلار</div>
                        <div class="text-muted-2 text-md text-uppercase">USD</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">سودان پوند</div>
                        <div class="text-muted-2 text-md text-uppercase">GBP</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency active" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">هندوستان روپیه</div>
                        <div class="text-muted-2 text-md text-uppercase">Inr</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">کلمبیا پزوی</div>
                        <div class="text-muted-2 text-md text-uppercase">EUR</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">استرالیا دلار</div>
                        <div class="text-muted-2 text-md text-uppercase">aud</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">مراکش درهم</div>
                        <div class="text-muted-2 text-md text-uppercase">thb</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="suggestedCurrencylist-wrap">
                <div class="d-inline-block mb-0 ps-3">
                  <h5 class="fs-6 fw-bold">همه ارزها</h5>
                </div>
                <div class="suggestedCurrencylists">
                  <ul
                    class="row align-items-center justify-content-start row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-2 gy-2 gx-3 m-0 p-0">
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">دلار ایالات متحده</div>
                        <div class="text-muted-2 text-md text-uppercase">USD</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">پوند لبنان</div>
                        <div class="text-muted-2 text-md text-uppercase">GBP</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">روپیه اندونزی</div>
                        <div class="text-muted-2 text-md text-uppercase">EUR</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">وون کره جنوبی</div>
                        <div class="text-muted-2 text-md text-uppercase">Inr</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">درهم مراکش</div>
                        <div class="text-muted-2 text-md text-uppercase">aud</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">دلار تایوان</div>
                        <div class="text-muted-2 text-md text-uppercase">thb</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">ریال یمن</div>
                        <div class="text-muted-2 text-md text-uppercase">USD</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">پزوی شیلی</div>
                        <div class="text-muted-2 text-md text-uppercase">GBP</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">کانادا دلار</div>
                        <div class="text-muted-2 text-md text-uppercase">EUR</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">دلار باهاماس</div>
                        <div class="text-muted-2 text-md text-uppercase">Inr</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">کونا کرواسی</div>
                        <div class="text-muted-2 text-md text-uppercase">aud</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">سامانی تاجیکستان</div>
                        <div class="text-muted-2 text-md text-uppercase">thb</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">پوند سودان</div>
                        <div class="text-muted-2 text-md text-uppercase">USD</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">روپیه سیشل</div>
                        <div class="text-muted-2 text-md text-uppercase">GBP</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">دینار صربستان</div>
                        <div class="text-muted-2 text-md text-uppercase">EUR</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">فرانک رواندا</div>
                        <div class="text-muted-2 text-md text-uppercase">Inr</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">دینار صربستان</div>
                        <div class="text-muted-2 text-md text-uppercase">aud</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">لئو رومانی</div>
                        <div class="text-muted-2 text-md text-uppercase">thb</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCurrency" href="bookingpage-03.html#">
                        <div class="text-dark text-md fw-medium">سنگاپور دلار</div>
                        <div class="text-muted-2 text-md text-uppercase">thb</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Choose Countries Modal -->
    <div class="modal modal-lg fade" id="countryModal" tabindex="-1" aria-labelledby="countryModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title fs-6" id="countryModalLabel">انتخاب کشور</h4>
            <a href="bookingpage-03.html#" class="text-muted fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                class="fa-solid fa-square-xmark"></i></a>
          </div>
          <div class="modal-body">
            <div class="allCountrieslist">

              <div class="suggestedCurrencylist-wrap mb-4">
                <div class="d-inline-block mb-0 ps-3">
                  <h5 class="fs-6 fw-bold">کشورهای پیشنهادی</h5>
                </div>
                <div class="suggestedCurrencylists">
                  <ul
                    class="row align-items-center justify-content-start row-cols-xl-4 row-cols-lg-3 row-cols-2 gy-2 gx-3 m-0 p-0">
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/united-states.png"
                            class="img-fluid circle" width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">ایالات متحده</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/united-kingdom.png"
                            class="img-fluid circle" width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">فرانسه</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry active" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/flag.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">هندوستان</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/belgium.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">آمریکا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/brazil.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">استرالیا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/china.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">تایلند</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="suggestedCurrencylist-wrap">
                <div class="d-inline-block mb-0 ps-3">
                  <h5 class="fs-6 fw-bold">همه کشورها</h5>
                </div>
                <div class="suggestedCurrencylists">
                  <ul
                    class="row align-items-center justify-content-start row-cols-xl-4 row-cols-lg-3 row-cols-2 gy-2 gx-3 m-0 p-0">
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/united-states.png"
                            class="img-fluid circle" width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">ایالات متحده</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/vietnam.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">اسپانیا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/turkey.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">آرژانتین</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/spain.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">آذربایجان</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/japan.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">استرالیا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/flag.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">بحرین</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/portugal.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">برزیل</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/italy.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">روسیه</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/germany.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">کانادا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/france.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">شیکاگو</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/european.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">کلمبیا</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/china.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">سوئیس</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/brazil.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">مصر</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/belgium.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">سوئد</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/turkey.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">ژاپن</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/spain.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">عربستان</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/germany.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">کویت</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/france.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">میلان</div>
                      </a>
                    </li>
                    <li class="col">
                      <a class="selectCountry" href="bookingpage-03.html#">
                        <div class="d-inline-block"><img src="assets/img/flag/brazil.png" class="img-fluid circle"
                            width="35" alt=""></div>
                        <div class="text-dark text-md fw-medium pe-2">سنگاپور</div>
						  </a>
						</li>
					  </ul>
					</div>
				  </div>

				</div>
			  </div>
			</div>
		  </div>
		</div>


		<a id="back2Top" class="top-scroll" title="Back to top" href="bookingpage-03.html#"><i class="fa-solid fa-sort-up"></i></a>


	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->


	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/dropzone.min.js"></script>
    <script src="assets/js/flatpickr.js"></script>
    <script src="assets/js/flickity.pkgd.min.js"></script>
    <script src="assets/js/lightbox.min.js"></script>
    <script src="assets/js/rangeslider.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/prism.js"></script>

	<script src="assets/js/custom.js"></script>
	<!-- ============================================================== -->
	<!-- This page plugins -->
	<!-- ============================================================== -->

</body>

</html>